<?xml version="1.0" encoding="UTF-8"?>

<configuration>

<!-- 日志输出格式 -->
<!-- 格式化输出 %d表示日期  %thread表示线程名  %-5level:级别从左显示5个字符宽度  %msg日志消息   %n换行符 -->
<property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%method,%line] - %msg%n" />

<!-- 控制台输出 -->
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>${log.pattern}</pattern>
    </encoder>
</appender>

<!--系统操作日志-->
<root level="DEBUG">
    <appender-ref ref="STDOUT" />
</root>
</configuration>